# place this file at /etc/systemd/system/ on the vision coprocessor
# run sudo systemctl daemon-reload
[Unit]
Description=Photonvision Server
After=syslog.target network.target

[Service]
SuccessExitStatus=143

# update
User=oem
Group=oem

Type=simple

Environment="JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64"
# WorkingDirectory must contain the photonvision jar. Change the file path here to match the location the jar was placed.
WorkingDirectory=/home/oem/PhotonVision
# Update the jar filename here to exactly match the file in the PhotonVision directory
ExecStart=/usr/lib/jvm/java-11-openjdk-amd64/bin/java -jar photonvision.jar
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
